.flexbox{
    margin-bottom: 1rem;
    display: flex;
    background-color: lightgrey;
    width: 100%;
}
.flexbox>div{
    border: 1px solid black;
    background-color: rgb(153, 153, 218);
    color: white;
}
.flexbox_row{
    flex-direction: row;
}
.flexbox_row-reverse{
    flex-direction: row-reverse;
}
.flexbox_column{
    flex-direction: column;
}
.flexbox_column-reverse{
    flex-direction: column-reverse;
}



