.flexbox{
    margin-bottom: 1rem;
    display: flex;
    background-color: lightgrey;
    width: 100%;
}
.flexbox>div{
    border: 1px solid black;
    background-color: rgb(153, 153, 218);
    color: white;
}
.flexbox_row{
    flex-direction: row;
}
.flexbox_row-reverse{
    flex-direction: row-reverse;
}
.flexbox_column{
    flex-direction: column;
}
.flexbox_column-reverse{
    flex-direction: column-reverse;
}
.flexbox_wrap{
    flex-wrap: wrap;
}
.flexbox_nowrap{
    flex-wrap: nowrap;
}
.flexbox_wrap>div, .flexbox_nowrap>div, .flexbox_row-reverse-and-wrap>div, .flexbox_column-and-nowrap>div{
    width: calc(50% - 2px);
}
.flexbox_row-reverse-and-wrap{
    flex-flow: row-reverse wrap;
}
.flexbox_column-and-nowrap{
    flex-flow: column nowrap;
}
img{
    width: 100%;
}
.flexbox_start>div, .flexbox_end>div, .flexbox_center>div, .flexbox_space-evenly>div, .flexbox_space-around>div, .flexbox_space-between>div{
    width: 200px;    
}
.flexbox_start{
    justify-content: flex-start;
}
.flexbox_end{
    justify-content: flex-end;
}
.flexbox_center{
    justify-content: center;
}
.flexbox_space-evenly{
    justify-content: space-evenly;
}
.flexbox_space-around{
    justify-content: space-around;
}
.flexbox_space-between{
    justify-content: space-between;
}
.align-self-start{
    align-self: flex-start;
}
.align-self-end{
    align-self: flex-end;
}
.align-self-center{
    align-self: center;
}