.flexbox{
    margin-bottom: 1rem;
    display: flex;
    background-color: lightgrey;
    width: 100%;
}
.flexbox>div{
    border: 1px solid black;
    background-color: rgb(153, 153, 218);
    color: white;
}
.flexbox_row{
    flex-direction: row;
}
.flexbox_row-reverse{
    flex-direction: row-reverse;
}
.flexbox_column{
    flex-direction: column;
}
.flexbox_column-reverse{
    flex-direction: column-reverse;
}
.flexbox_wrap{
    flex-wrap: wrap;
}
.flexbox_nowrap{
    flex-wrap: nowrap;
}
.flexbox_wrap>div, .flexbox_nowrap>div, .flexbox_row-reverse-and-wrap>div, .flexbox_column-and-nowrap>div{
    width: calc(50% - 2px);
}
.flexbox_row-reverse-and-wrap{
    flex-flow: row-reverse wrap;
}
.flexbox_column-and-nowrap{
    flex-flow: column nowrap;
}

